/* :root {
  --font-main: 'Gilroy', sans-serif;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
} */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Gilroy', sans-serif;
  background-color: #f9f9fb;
}

* {
  box-sizing: border-box;
}
